demo/mule-vectors-connector-operations-demo/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
	<flow name="vectors-connector-operations-api-main" doc:id="e396e028-832d-4a9b-b1f5-92adf1e13000" >
		<http:listener doc:name="Listener" doc:id="40b75fa4-a347-46cb-b0b2-10fe9b2e22fb" config-ref="HTTP_Listener_config" path="/api/*" allowedMethods="OPTIONS, GET, POST, PUT, DELETE">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
		</http:listener>
		<apikit:router doc:name="APIkit Router" doc:id="342ed399-ba2a-40c3-9be7-145dba0b9a5d" config-ref="vectors-connector-operations-api-config"/>
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
	</flow>
	<flow name="vectors-connector-operations-api-console" doc:id="7c83bb4d-2fe5-46e0-8421-1aaf828dfb67" >
		<http:listener doc:name="Listener" doc:id="6893f502-607f-4a22-a58c-18653b35f992" config-ref="HTTP_Listener_config" path="/console/*" allowedMethods="OPTIONS, GET, POST, PUT, DELETE">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
		</http:listener>
		<apikit:console doc:name="APIkit Console" doc:id="9541a084-aab4-4c96-bc93-645494eb5d00" config-ref="vectors-connector-operations-api-config"/>
		<error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
	</flow>
	<flow name="post:\load-document:application\json:vectors-connector-operations-api-config" doc:id="1b2954fa-9d5d-4c90-ab55-479293f5aa0e" >
		<flow-ref doc:name="load-single-document-operation" doc:id="db4f0180-5dd0-4152-ae2a-1862256f4b9d" name="load-single-document-operation"/>
	</flow>
	<flow name="post:\load-documents:application\json:vectors-connector-operations-api-config" doc:id="4a047ab5-50b3-4bed-90d0-88c95cfe67ed" >
		<flow-ref doc:name="load-list-of-documents-operation" doc:id="ee9f3ff3-8149-46f2-8c26-b21f280acd66" name="load-list-of-documents-operation" />
	</flow>
	<flow name="post:\add-text:application\json:vectors-connector-operations-api-config" doc:id="a1dc1dc4-86c0-4489-b89a-8c68883416e6" >
		<flow-ref doc:name="add-text-to-store-use-case" doc:id="219e02f2-c0c3-4ae4-912b-51e63289b1cb" name="add-text-to-store-use-case"/>
	</flow>
	<flow name="post:\add-document:application\json:vectors-connector-operations-api-config" doc:id="ebbc156c-6c12-4a34-9a05-267e1c0dd09d" >
		<flow-ref doc:name="add-doc-to-store-use-case" doc:id="46b55205-337c-41bb-8033-e15fd7656e07" name="add-doc-to-store-use-case"/>
	</flow>
	<flow name="post:\query:application\json:vectors-connector-operations-api-config" doc:id="b1cb7923-f517-458b-8eba-5166052905d3" >
		<flow-ref doc:name="query-from-store-use-case" doc:id="c6946da2-9869-4555-b07e-fd53db538a1a" name="query-from-store-use-case"/>
	</flow>
	<flow name="delete:\remove:application\json:vectors-connector-operations-api-config" doc:id="b772a9f5-3ed7-4993-b126-eb203bfdc09e" >
		<flow-ref doc:name="remove-from-store" doc:id="7d133da0-8c1c-4f25-834e-c48290ef6491" name="remove-from-store"/>
	</flow>
</mule>
