demo/mule-vectors-connector-operations-demo/src/main/mule/operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:ms-vectors="http://www.mulesoft.org/schema/mule/ms-vectors" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ms-vectors http://www.mulesoft.org/schema/mule/ms-vectors/current/mule-ms-vectors.xsd">
	<flow name="load-single-document-operation" doc:id="4bc1532b-bb2d-452c-8f1a-81c9a696816b" >
		<ms-vectors:document-load-single doc:name="[Document] Load single" doc:id="9e0f2c9c-cc1e-4c1e-8447-34a179a3f091" config-ref="Local_Storage_config" fileType="any" contextPath="#[attributes.queryParams.contextPath]" maxSegmentSizeInChar="#[attributes.queryParams.maxSegmentSize default 0]" maxOverlapSizeInChars="#[attributes.queryParams.maxOverlapSize default 0]"/>
	</flow>
	<flow name="load-list-of-documents-operation" doc:id="a7a0965f-91a0-43ca-94ef-7e2790c71010" >
		<ms-vectors:document-load-list doc:name="[Document] Load list" doc:id="7e830099-1d02-4215-bda8-4f85dbe500e0" config-ref="Local_Storage_config" fileType="any" contextPath="#[attributes.queryParams.contextPath]" maxSegmentSizeInChar="#[attributes.queryParams.maxSegmentSize default 0]" maxOverlapSizeInChars="#[attributes.queryParams.maxOverlapSize default 0]"/>
		<ee:transform doc:name="Transform Message" doc:id="f2fac866-8bdd-4749-86c3-eca56dc9d573" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="load-single-media-operation" doc:id="6c5b03e6-93bb-4955-9dd0-4e765f773fb5" >
		<ms-vectors:media-load-single doc:name="[Media] Load single" doc:id="0d72f0c5-4d40-4b4c-be1e-f4920a029d61" config-ref="Local_Storage_config" contextPath="#[attributes.queryParams.contextPath]">
			<ms-vectors:media-processor-parameters >
				<ms-vectors:image-processor-parameters targetWidth="#[attributes.queryParams.targetWidth default 512]" targetHeight="#[attributes.queryParams.targetHeight default 512]" compressionQuality="#[attributes.queryParams.compressionQuality default 1]" scaleStrategy='#[attributes.queryParams.scaleStrategy default "FIT"]'/>
			</ms-vectors:media-processor-parameters>
		</ms-vectors:media-load-single>
	</flow>
	<flow name="load-list-of-medias-operation" doc:id="a868fb40-dabc-45a2-b631-23da03e90f20">
		<ms-vectors:media-load-list doc:name="[Media] Load single" doc:id="24836a98-9a51-49a0-9c7d-ed70cf7b757b" config-ref="Local_Storage_config" contextPath="#[attributes.queryParams.contextPath]">
			<ms-vectors:media-processor-parameters>
				<ms-vectors:image-processor-parameters targetWidth="#[attributes.queryParams.targetWidth default 512]" targetHeight="#[attributes.queryParams.targetHeight default 512]" compressionQuality="#[attributes.queryParams.compressionQuality default 1]" scaleStrategy='#[attributes.queryParams.scaleStrategy default "FIT"]' />
			</ms-vectors:media-processor-parameters>
		</ms-vectors:media-load-list>
		<ee:transform doc:name="Transform Message" doc:id="df58d4da-1707-48b2-a24b-a07f03385c81" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="remove-from-store" doc:id="1162301b-2e97-4183-804c-4a2f6f27c0b3" >
		<ms-vectors:store-remove doc:name="[Store] Remove" doc:id="156137d3-b051-4e93-86b6-83ff2d69788b" config-ref="PGVector_Store_config" storeName="demo" >
			<ms-vectors:condition ><![CDATA[#[payload.filter]]]></ms-vectors:condition>
		</ms-vectors:store-remove>
	</flow>
	<flow name="list-sources" doc:id="21110984-0f92-46d3-b4af-30200146bab3" />
</mule>
