demo/mule-vectors-connector-azure-demo/src/main/mule/use-cases.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ms-vectors="http://www.mulesoft.org/schema/mule/ms-vectors" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ms-vectors http://www.mulesoft.org/schema/mule/ms-vectors/current/mule-ms-vectors.xsd">
	<flow name="add-doc-to-store-use-case" doc:id="885632fc-3930-445d-bb6d-93a19d839f26" >
		<ms-vectors:document-load-single doc:name="[Document] Load single" doc:id="ee14b4f9-f351-4293-8cbb-21dbbb76f6b5" config-ref="Local_Storage_config" fileType="any" contextPath="#[attributes.queryParams.contextPath]" maxSegmentSizeInChar="#[attributes.queryParams.maxSegmentSize default 0]" maxOverlapSizeInChars="#[attributes.queryParams.maxOverlapSize default 0]" />
		<ms-vectors:embedding-generate-from-document doc:name="[Embedding] Generate from document" doc:id="03c28d70-70c2-47b5-9fc2-b89147ae72d5" config-ref="Azure_OpenAI_Embedding_Config" embeddingModelName="text-embedding-ada-002"/>
		<ms-vectors:store-add doc:name="[Store] Add" doc:id="efb1dbd4-6a02-4d7c-a5e0-1fe29f08a351" config-ref="AISearch_Store_Config" storeName="demo"/>
	</flow>
	<flow name="add-text-to-store-use-case" doc:id="abacef92-37ce-41b3-b8da-20f47bda8c2a" >
		<set-variable value='#[payload.customMetadata]' doc:name="customMetadata" doc:id="6fb641da-c496-4ec2-a296-1981d789a82b" variableName="customMetadata"/>
		<ms-vectors:embedding-generate-from-text doc:name="[Embedding] Generate from text" doc:id="42441873-1902-4d03-96c5-a379c7ce491b" config-ref="Azure_OpenAI_Embedding_Config" maxSegmentSizeInChar="#[attributes.queryParams.maxSegmentSize default 0]" maxOverlapSizeInChars="#[attributes.queryParams.maxOverlapSize default 0]" embeddingModelName="text-embedding-ada-002">
			<ms-vectors:text ><![CDATA[#[payload.text]]]></ms-vectors:text>
		</ms-vectors:embedding-generate-from-text>
		<ms-vectors:store-add doc:name="[Store] Add" doc:id="03497871-8337-43e9-8934-02a4e871c130" config-ref="AISearch_Store_Config" storeName="demo" metadataEntries="#[vars.customMetadata]"/>
	</flow>
	<flow name="add-media-to-store" doc:id="d5848981-d9a7-44bc-b56b-386984fb2a73">
		<ms-vectors:media-load-single doc:name="[Media] Load single" doc:id="4eb68934-b314-4e39-92f2-3dce2ffe57ff" config-ref="Local_Storage_config" contextPath="#[attributes.queryParams.contextPath]" >
			<ms-vectors:media-processor-parameters >
				<ms-vectors:image-processor-parameters targetWidth="#[attributes.queryParams.targetWidth default 512]" targetHeight="#[attributes.queryParams.targetHeight default 512]" compressionQuality="#[attributes.queryParams.compressionQuality default 1]" scaleStrategy='#[attributes.queryParams.scaleStrategy default "FIT"]' />
			</ms-vectors:media-processor-parameters>
		</ms-vectors:media-load-single>
		<ms-vectors:embedding-generate-from-media doc:name="[Embedding] Generate from media" doc:id="5280a1fb-f92e-4271-a9ba-6b8f988070e9" config-ref="Azure_AI_Vision_Embedding_Config" embeddingModelName="2023-04-15">
			<ms-vectors:media ><![CDATA[#[payload]]]></ms-vectors:media>
			<ms-vectors:label ><![CDATA[An image]]></ms-vectors:label>
		</ms-vectors:embedding-generate-from-media>
		<ms-vectors:store-add doc:name="[Store] Add" doc:id="7669e276-e484-453b-ae97-55c2d12fe380" config-ref="AISearch_Store_Config" storeName="demo_multimodal"/>
	</flow>
	<flow name="add-binary-to-store" doc:id="a54f174c-17ee-472f-90cd-63bec46831f2" >
		<ms-vectors:embedding-generate-from-binary doc:name="[Embedding] Generate from binary" doc:id="80059599-7954-4ea5-82b6-8fdaae8db9bb" config-ref="Azure_AI_Vision_Embedding_Config" embeddingModelName="2023-04-15">
			<ms-vectors:binary ><![CDATA[#[payload.parts.imageBinary.content]]]></ms-vectors:binary>
			<ms-vectors:label ><![CDATA[#[payload.parts.imageLabel.content default "An image"]]]></ms-vectors:label>
			<ms-vectors:media-processor-parameters >
				<ms-vectors:image-processor-parameters targetWidth="#[attributes.queryParams.targetWidth default 512]" targetHeight="#[attributes.queryParams.targetHeight default 512]" compressionQuality="#[attributes.queryParams.compressionQuality default 1]" scaleStrategy='#[attributes.queryParams.scaleStrategy default "FIT"]' />
			</ms-vectors:media-processor-parameters>
		</ms-vectors:embedding-generate-from-binary>
		<ms-vectors:store-add doc:name="[Store] Add" doc:id="c8decaa7-086d-4fca-9763-4e5604435616" config-ref="AISearch_Store_Config" storeName="demo_multimodal" />
	</flow>
	<flow name="query-by-text-from-store-use-case" doc:id="aec824fc-a224-4f80-a3b1-1e9931ff2d28" >
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload as Object default {}]" doc:name="requestBody" doc:id="e1dd921e-3c8d-431b-9458-c831acc8ed2e" variableName="requestBody" />
		<ms-vectors:embedding-generate-from-text doc:name="[Embedding] Generate from text" doc:id="139bd865-fab3-4a19-be0f-b7df2a69e294" config-ref="Azure_OpenAI_Embedding_Config" embeddingModelName="text-embedding-ada-002" maxSegmentSizeInChar="0" maxOverlapSizeInChars="0">
			<ms-vectors:text ><![CDATA[#[payload.prompt]]]></ms-vectors:text>
		</ms-vectors:embedding-generate-from-text>
		<ms-vectors:query doc:name="[Store] Query" doc:id="40ee5ee9-ce0d-427f-b023-9ff703e947c6" config-ref="AISearch_Store_Config" storeName="demo" maxResults="5" minScore="0.5">
			<ms-vectors:text-segment-and-embedding><![CDATA[#[payload]]]></ms-vectors:text-segment-and-embedding>
			<ms-vectors:condition ><![CDATA[#[vars.requestBody.filter]]]></ms-vectors:condition>
		</ms-vectors:query>
	</flow>
	<flow name="query-by-binary-from-store-use-case" doc:id="ddd93b08-af85-402b-b94a-3dee3b7b2ce2" >
		<ms-vectors:embedding-generate-from-binary embeddingModelName="2023-04-15" doc:name="[Embedding] Generate from binary" doc:id="64959300-9cf2-47a0-8dfd-6e94a4e4a2df" config-ref="Azure_AI_Vision_Embedding_Config" >
			<ms-vectors:binary ><![CDATA[#[payload.parts.imageBinary.content]]]></ms-vectors:binary>
			<ms-vectors:label ><![CDATA[#[payload.parts.imageLabel.content default ""]]]></ms-vectors:label>
			<ms-vectors:media-processor-parameters >
				<ms-vectors:image-processor-parameters targetWidth="#[attributes.queryParams.targetWidth default 512]" targetHeight="#[attributes.queryParams.targetHeight default 512]" compressionQuality="#[attributes.queryParams.compressionQuality default 1]" scaleStrategy='#[attributes.queryParams.scaleStrategy default "FIT"]' />
			</ms-vectors:media-processor-parameters>
		</ms-vectors:embedding-generate-from-binary>
		<ms-vectors:query doc:name="[Store] Query" doc:id="90c8f975-b5b2-48ee-b99c-6615e1d41e07" config-ref="AISearch_Store_Config" storeName="demo_multimodal" maxResults="5" minScore="0.5" >
			<ms-vectors:text-segment-and-embedding ><![CDATA[#[payload]]]></ms-vectors:text-segment-and-embedding>
		</ms-vectors:query>
	</flow>
	<flow name="query-media-by-text-from-store-use-case" doc:id="f4a5fa27-e6ef-4c78-a80c-8a4884c105c1" >
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload as Object default {}]" doc:name="requestBody" doc:id="c8ce99dd-334e-4308-a9b6-78b2b5660255" variableName="requestBody" />
		<ms-vectors:embedding-generate-from-text doc:name="[Embedding] Generate from text" doc:id="5656ac10-5243-4fa5-94bf-93aa116bc605" config-ref="Azure_AI_Vision_Embedding_Config" maxSegmentSizeInChar="0" maxOverlapSizeInChars="0" embeddingModelName="2023-04-15">
			<ms-vectors:text ><![CDATA[#[payload.prompt]]]></ms-vectors:text>
		</ms-vectors:embedding-generate-from-text>
		<ms-vectors:query doc:name="[Store] Query" doc:id="ca6ffde2-129f-4926-b278-967890873a57" config-ref="AISearch_Store_Config" storeName="demo_multimodal" maxResults="5" minScore="0.5" >
			<ms-vectors:text-segment-and-embedding ><![CDATA[#[payload]]]></ms-vectors:text-segment-and-embedding>
		</ms-vectors:query>
	</flow>
</mule>
